@font-face {
    font-family: ade;
    src: url(./Outfit-VariableFont_wght.ttf);
}

.first{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    height: 450px;
    width:280px;
    margin-top: 5.6%;
    margin-left: 40%;
}

.img{
    height: 230px;
    width: 90%;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 4.9%;
}

h4{
    font-family: ade;
    color: white;
    font-weight: 600;
    margin-left: 4.9%;

}

#one{
    font-family: ade;
    color:hsl(215, 51%, 70%);
    margin-left: 4.9%;
    font-size: 13px;
}

.second{
    display: flex;
}

hr{
    width: 82%;
    background-color: hsl(215, 32%, 27%);
    height: 0.1px;
    border: none;
}

.avatar{
    height: 25px;
    border:1.3px solid white;
    border-radius: 14px;
    margin-left: 19px;
}